/* GLOBAL ELEMENTS */
body {
  text-align: center;
  background-color: rgba(255, 235, 205, 0.322);
}

.github-connect {
  margin: 50px;
  text-align: center;
}

.container2-about,
.container1-gallery,
.container1-about {
  margin-top: 80px;
}

.h1-home,
.h1-about,
.h1-gallery {
  font-size: 90px;
}

/* MEDIA QUERIES */
@media (max-width: 300px) {
  .h3-home {
    font-size: 8px;
  }
  .h1-about {
    font-size: 50px;
  }
  .h3-about {
    font-size: 20px;
  }
  .p1-about {
    font-size: 15px;
  }
  .h1-gallery {
    font-size: 25px;
  }
  .github-connect {
    font-size: 13px;
  }
  .p1-gallery {
    font-size: 13px;
  }
}

@media (min-width: 301px) and (max-width: 900px) {
  .h3-home {
    font-size: 15px;
  }
  .h1-about {
    font-size: 70px;
  }
  .h1-gallery {
    font-size: 50px;
  }
}

@media (max-width: 1900px) {
  .button-link-about {
    font-size: 12px;
  }
}

/* INDEX.HTML */
.h1-index {
  font-size: 60px;
}

.h6-index {
  margin-top: 20px;
  color: rgb(59, 179, 139);
}

#index-work-img {
  border-radius: 3%;
  border: 5px solid rgb(181, 228, 228);
}

.container-index {
  margin-top: 40px;
}

/* HOME.HTML */
.container1-home {
  margin-top: 70px;
  margin-bottom: 80px;
}

.container2-home {
  background-color: rgba(137, 43, 226, 0.171);
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;
}

.h2-home {
  font-size: 40px;
}

.h2-emoji {
  font-size: 30px;
}

.h3-home {
  font-size: 20px;
  margin-top: 25px;
}

.h5-home {
  font-size: 25px;
}

.h6-home {
  margin-top: 15px;
  color: white;
}

#gal-img-home {
  margin-top: 10px;
  transition: width 0.8s;
}

#gal-img-home:hover {
  width: 95%;
}

/* GALLERY.HTML */
.container2-gallery {
  margin-top: 20px;
}

#img-gallery {
  max-width: 90%;
}

#img-gallery:hover {
  border: 2px solid thistle;
  max-width: 100%;
}

/* LINKS */
.github-link {
  text-decoration: none;
  color: rgb(59, 179, 139);
}

.button-link {
  border-radius: 4px;
  padding: 5px 20px;
  text-decoration: none;
  background: #8b2fa7a8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.button-link:hover,
.button-link-about:hover {
  border: 1px solid purple;
  color: white;
}

.button-link-about {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 140px;
  border-radius: 4px;
  padding: 5px 20px;
  text-decoration: none;
  background: #8b2fa7a8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

/* USE LATER */
/* 🏰 */
