/* INDEX.HTML */
body {
  text-align: center;
  background-color: rgba(255, 235, 205, 0.322);
}

img {
  display: block;
  margin: 0 auto;
}

.h1-index {
  font-size: 55px;
}

.h6-index {
  margin-top: 20px;
  color: rgb(59, 179, 139);
}

#index-work-img {
  border-radius: 3%;
  border: 5px solid rgb(181, 228, 228);
}

.github-connect {
  margin: 50px;
  text-align: center;
}

.github-link {
  text-decoration: none;
  color: rgb(59, 179, 139);
}

.container-index {
  margin-top: 40px;
}

/* HOME.HTML */
.container1-home {
  margin-top: 70px;
  margin-bottom: 80px;
}

.h2-home {
  font-size: 40px;
}

.h1-home {
  font-size: 90px;
}

.h2-emoji {
  font-size: 30px;
}

.h3-home {
  font-size: 20px;
  margin-top: 25px;0
}

.container2-home {
  background-color: rgba(137, 43, 226, 0.171);
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;
}

.h6-home {
  margin-top: 15px;
}

#gal-img-home {
  margin-top: 10px;
  transition: width 0.5s;
}

#gal-img-home:hover {
  width: 95%;
}

.h5-home {
  font-size: 25px;
  transition: font 0.5s;
}

.h5-home:hover {
  color: rgb(116, 26, 201);
  font-size: 30px;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
  .h1-index {
    font-size: 35px;
  }
  .github-connect {
    font-size: 10px;
  }
  .h1-home {
    font-size: 80px;
  }
  .h3-home {
    font-size: 15px;
  }
}

/* 🏰 */