/* GLOBAL ELEMENTS */
body {
  text-align: center;
  background-color: rgba(255, 235, 205, 0.322);
}

footer {
  margin: 120px 10px 40px 30px;
  text-align: left;
}

.github-connect {
  margin: 50px;
  text-align: center;
}

.container2-about,
.container1-gallery,
.container1-about,
.container1-contact {
  margin-top: 80px;
}

.h1-home,
.h1-about,
.h1-gallery {
  font-size: 90px;
}

.h-emoji {
  font-size: 30px;
}

.h1-contact {
  font-size: 60px;
}

/* MEDIA QUERIES */
@media (max-width: 300px) {
  .h3-home {
    font-size: 8px;
  }
  .h1-about {
    font-size: 50px;
  }
  .h3-about {
    font-size: 20px;
  }
  .p1-about,
  .h3-contact {
    font-size: 15px;
  }
  .h1-gallery {
    font-size: 25px;
  }
  .github-connect,
  .p1-gallery,
  .email-link,
  .instagram-link {
    font-size: 13px;
  }
  .h1-contact {
    font-size: 40px;
  }
  .h5-contact {
    font-size: 10px;
  }
}

@media (min-width: 301px) and (max-width: 900px) {
  .h3-home {
    font-size: 15px;
  }
  .h1-about {
    font-size: 70px;
  }
  .h1-gallery {
    font-size: 50px;
  }
  .index-link {
    font-size: 30px;
  }
}

@media (max-width: 1900px) {
  .button-link-about {
    font-size: 12px;
  }
}

/* INDEX.HTML */
.body-index {
  background-color: rgba(78, 136, 190, 0.459);
  padding: 50px 0;
}

.index-img {
  display: block;
  margin: auto;
  max-width: 95%;
}

.footer-ig-link {
  margin-left: 30px;
}

.fab {
  margin-left: 0;
}

/* HOME.HTML */
.container1-home {
  margin-top: 70px;
  margin-bottom: 80px;
}

.container2-home {
  background-color: rgba(137, 43, 226, 0.096);
  max-width: 80%;
  display: block;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 50px;
}

.h2-home {
  font-size: 40px;
}

.h3-home {
  font-size: 20px;
  margin-top: 25px;
}

.h5-home {
  font-size: 25px;
}

.h6-home {
  margin-top: 15px;
  color: rgba(137, 43, 226, 0.514);
}

#gal-img-home {
  margin-top: 10px;
  transition: width 0.8s;
}

#gal-img-home:hover {
  width: 95%;
}

/* ABOUT.HTML */
.container3-about {
  margin-top: 15px;
}

/* GALLERY.HTML */
.container2-gallery {
  margin-top: 20px;
}

#img-gallery {
  max-width: 90%;
}

#img-gallery:hover {
  border: 2px solid thistle;
  max-width: 100%;
}

/* CONTACT.HTML */
.h4-contact {
  font-size: 16px;
}

.img1-contact {
  max-width: 50%;
}

.row-contact {
  margin: 0 auto;
  max-width: 50%;
}

#contact {
  font-size: 30px;
}

.contact-emoji:hover {
  font-size: 38px;
}

/* LINKS */
.link {
  text-decoration: none;
  color: rgb(59, 179, 139);
}

.link:hover,
.link:hover {
  color: blue;
}

.button-link {
  border-radius: 4px;
  padding: 5px 20px;
  text-decoration: none;
  background: #8b2fa7a8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.button-link:hover,
.button-link-about:hover {
  border: 1px solid purple;
  color: white;
}

.button-link-about {
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 140px;
  border-radius: 4px;
  padding: 5px 20px;
  text-decoration: none;
  background: #8b2fa7a8;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.index-link {
  font-size: 40px;
  text-decoration: none;
}

.index-link:hover {
  color: aliceblue;
}

.mobile-index-link {
  font-size: 32px;
  text-decoration: none;
}

.mobile-index-link:hover {
  color: aliceblue;
}
